.login-container {
    background-color:#f2f2f2; /* Set your desired background color */
    height: 160vh; /* Ensure the container covers the entire viewport height */
    padding: 20px; /* Add padding if needed */
  }